/*
 * Variables
 */

:root{
    --padding: 30px;
}

@media screen and (max-width: 600px){
    :root{
        --padding: 20px;
        --border-radius: 8px;
    }
}

/*
 * Fonts
 */
@font-face {
    font-family: 'Corben';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Corben Regular'), local('Corben-Regular'), url(/fonts/corben.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/manrope.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
 * Reset
 */

html {
  background-color: #F8E3E2;
  color: #000000;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif  ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', cursive;
    margin: 0 0 var(--padding) 0;
}

body{
    margin: 0;

}

*{
    box-sizing: inherit;
}

button {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

button:hover {
    opacity: 1;
}

button:active {
    opacity: 0.5;
}

button:focus{
    outline: none;
    box-shadow: 0 0 5px 0 mediumvioletred;
}

button:disabled{
    opacity: 0.5;
}

/*
 * Container
 */

.container{
    max-width: 1200px;
    margin: auto;
}

/*
 * Button
 */
.button{
    width: 100%;
    height: 40px;
    padding: var(--padding);
    background-color: fuchsia;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}
.button--large{
    height: 60px;
}

/*
 * Header
 */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
}

.header__logo{
    height: 50px;
}

.header__button{
    height: 40px;
    width: 40px;
    position: relative;
}

.header__button[data-count]:before{
    content: attr(data-count);
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBABA8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/*
 * Cart
 */
.cart{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.25s;
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.cart__overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);

}
.cart__inner{
    width: 95%;
    padding: var(--padding) var(--padding) 200px var(--padding);
    background-color: white;
    border-radius: 20px 20px 0 0;
    margin: 0 2.5%;
    box-shadow: 0px 11px 50px 0px #540000a1;
    transition: transform 0.25s ease;
    transform: translateY(50%);
    position: relative;
}

.cart__spacer{
    flex: 1;
    flex-shrink: 0;
}
.cart__footer{
    width: 95%;
    left: 2.5%;
    position: fixed;
    padding: var(--padding);
    bottom: 0;
    background-color: white;
}
.cart--open{
    visibility: visible;
    opacity: 1;
}
.cart--open .cart__inner{
    transform: unset;
}